body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.controls {
	display: inline-block;
	margin-bottom: 20px;
}

.controls button {
	margin-right: 5px;
	margin-left: 5px;
}

a i.fa,
button i.fa {
	padding-right: 5px;
}

#create-task div,
#create-task button {
	margin-right: 5px;
}
