extends layout

block content
	button.btn.btn-primary(onclick='update()')
			i.fa.fa-refresh(aria-hidden)
			| Refresh
	div.controls
		button.btn.btn-success(onclick='toggle()')
			i.fa.fa-play(aria-hidden)
			| Resume


	table#table.table.table-striped.table-bordered.table-hover
		thead
			tr
				th ID
				th Type
				th Input
				th Output
				th Sync

	script(src='javascripts/bots.js')
