extends layout

block content
	table#table.table.table-striped.table-bordered.table-hover
		thead
			tr
				th ID
				th IP
				th Task
				th Workload
				th Actions

	script(src='javascripts/status.js')
